.jogo {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
    color: #2f8f00; 
}

.comando {
    text-align: center;
    letter-spacing: 0px;
    overflow-y: auto;

    /* --- MARGIN --- */
    padding: 1% 5%;

    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 5%;
    left: 15%;
    vertical-align: middle;

    /* --- TAMANHO --- */
    width: 70%;
    height: 22.5%;
    
    /* --- FONTE --- */
    font-size: 1.3rem;
    font-weight: 500;

    box-shadow: 4px 7px #2229;
    background-color: #eeec;
    border-top: 3px solid #222;
    border-left: 3px solid #222;
    border-radius: 75px;
}

.imagem {
    display: hidden;
    border: 0.1vw solid white;
    border-radius: 25px;

    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 5%;
    left: 78%;

    /* --- TAMANHO --- */
    width: 20%;
    height: 30%;
}

.grupo-botoes-resposta {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    gap: 5%;

    /* --- POSICIONAMENTO --- */
    position: fixed;
    text-align: center;
    top: 30%;
    left: 25%;

    /* --- TAMANHO --- */
    width: 50%;    
    height: 40%;

}

.grupo-botoes-resposta button {
    background-color: #eeed;
    font-family: 'Rubik';
    color: #2f8f00;
    
    display: inline-block;
    text-align: center;
    transition-duration: 0.4s;
    letter-spacing: 0px;

    /* --- FONTE --- */
    font-size: 1.25rem;
    
    border: none;
    border-radius: 50px;
    box-shadow: 4px 7px #2229;
    padding: 1% 5%;

    width: 100%;
    height: 100%;
    
}

.grupo-botoes-ajuda {
    display: grid;
    grid-template-columns:repeat(3, 100%);
    gap: 10%;

    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 77.5%;
    left: 35%;

    /* --- TAMANHO --- */
    width: 10%;
    height: 10%;

}

.grupo-botoes-ajuda button {
    text-align: center;
    font-size: 100%;

    height: 100%;
    border-radius: 50px;
    background-color: #2f8f00;
    border: none;
}

.grupo-botoes-ajuda button img {
    
}

.grupo-botoes-controle {
    display: grid;
    grid-template-columns:repeat(3, 33.333%);
    gap: 5%;
    
    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 89%;
    left: 7.5%;
    
    /* --- TAMANHO --- */
    width: 80%;
}

.certo {
    color: #fff;
    background-color: #28a745dd;
    border-color: #28a745dd;
}

.errado {
    color: #fff;
    background-color: #dc3546dd;
    border-color: #dc3545dd;
}

.grupo-botoes-controle button {
    background-color: #343a40;
    border: 1px solid transparent;
    border-color: #343a40;

    color: white;
    font-size: 1.7vw;
   
    /* --- TAMANHO --- */
    width: 100%;
    height: 4rem;
}


#score {
    border: none;
    background-color: transparent;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 140%;  
    color: #2f8f00;
    text-shadow: 2px 2px #0009;
}

.modal-imagem {
    position: absolute;
    top: 25%;
    left: 0%;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.confirmacao-alternativa-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 1;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.confirmacao-alternativa-popup-container {
    position: relative;
    top: 50%;
    width: 90%;
    max-width: 400px;
    margin: auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}

.confirmacao-alternativa-popup-container p {
    padding: 3em 1em;
    color: #000000;
}

.cd-buttons{
    padding-left: 0;
}

.confirmacao-alternativa-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.confirmacao-alternativa-popup-container .cd-buttons li {
    list-style-type: none;
    float: left;
    width: 50%;
}

.confirmacao-alternativa-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    transition: background-color 0.2s;
}

.confirmacao-alternativa-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
    list-style-type: none;
}

.confirmacao-alternativa-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
    list-style-type: none;
}

.container-principal-carta{
    width: 250px;
    height: 320px;
    background: #00000000;
}

#card1{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
}

#card2{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-40%, -50%);
}

#card3{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-60%, -50%);
}

#card4{
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-80%, -50%);
}

.carta {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    background: transparent;
}

.carta .carta-frente{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #cbcaaf;
    color: #333;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    border-radius: 5%;
    font-size: 16px;
    font-weight: bold;
}

.carta .carta-costa{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #1f1e1a;
    color: #cbcaaf;
    transform: rotateX(180deg);
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}

.container-principal-carta:hover .carta {
    transform: rotateX(2deg);
	box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

:not(:checked) + .carta {
	transform: rotateX(180deg);
}

.container-principal-carta:hover :not(:checked) + .carta {
	transform: rotateX(180deg);
}

.titulo-carta-frente{
    max-width: 100%;
    margin: 3% 3% 0% 3%;
    padding: 5%;
    background-color: #535435;
    font-size: 90%;
    font-family: arial, sans-serif;
    border-radius: 2%;
    color: #ffffff;
    font-weight: bold;
}

.contorno-carta {
    margin: 5%;
    border: 5px solid #cbcaaf;
    width: 90%;
    height: 90%;
}

.conteudo-carta-costa{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imagem-carta{
    position: relative;
    width: 100%;
    height: 60%;
    display: block;
    
    padding: 3%;
}

.botao-matar-alternativas{
    display: block;
    position: static;
    margin: 0% 3% 3% 3%;
    overflow: hidden;
    text-align: center;
    background-color: #312f24;
    color: #e7e7de;
    height: 20%;
    width: 95%;
}

.tooltip {
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.container-principal-ajuda {
    position: absolute;
    width: 50%;

    background: #F0F0F0;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container-principal-ajuda .header {
    display: grid;
    grid-template-columns:repeat(2, auto);
    margin: 1%;
    width: 98%;
}

.container-principal-ajuda h2 {
    color: black;
    display: inline-block;
    text-align: center;
    margin-bottom: 0%;
    margin-right: 1%;
    padding: 0%;
    vertical-align: middle;
    font-weight: 100;

    padding-top: 1%;
    padding-bottom: 1%;
}

.container-principal-ajuda .xis {
    color: black;
    
    display: inline-block;
    position: relative;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right: 0%;
    height: auto;
    border: 0px solid #00000000;
}

.container-principal-ajuda img {
    display: block;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 70%;
    border-radius: .25em .25em .25em .25em;
}

.container-principal-ajuda p {
    color: black;
    display: block;
    margin: 1%;
    padding: 1%;
    height: 10%;
}

.container-principal-ajuda #botaoDica{
    color: black;
    display: block;
    padding: 1%;
    height: 10%;
    width: 100%;
    background: #fc7169;
    border: 0px solid #00000000;
    border-radius: 0 0 .25em .25em;
}

#quatro-cartas {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

#quatro-cartas li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
}

#icone-cartas, #icone-dicas, #icone-pulo {
    height: 20px;
    width: 20px;
    margin-right: 1%;
}

.game-over {
    height: auto;
    width: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.game-over h5{
    font-size: 6em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.game-over p{
    font-size: 1.1em;
    font-weight: 300;
}

.game-over button{
    background-color: #343a40;
    border: 1px solid transparent;
    border-color: #343a40;

    color: white;
    font-size: 1.7vw;
}