/* --- GLOBAL --- */
body{
    background-image:url(../imagens/background.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    background-color: #ffffff;

    color: white;
    margin: 0 0 0 0;

    animation: fade-in 2s;
}

.bg {
    position: relative;
    background: #ffffff url(../imagens/backgroundx2.png);
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: loop 50s linear infinite;
}

@keyframes loop {
    0% {background-position: 0 0;}
    50% {background-position: 100% 0;}
    100% {background-position:0 0;}
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

.margem {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 2vw;
    margin-left: 2vw;
}

.hidden{
    display: none;
}

.jogo{
    width: 100%;
    height: 100%;
}

.janelaPrincipal {
    position: absolute;
    padding: 0px 0px 0px 0px;
}


/* --- MENU PRINCIPAL --- */
.cabecalho {
    position: fixed;
    top: 20vh;
}

.titulo {
    font-size: 7em;
    font-weight: 300;
    line-height: 1.2;
}

.subtitulo {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.2;
    border-top: 0.25vh solid #ffffff;
}

.grupoBotoesMenuPrincipal{
    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 60vh;

    /* --- TAMANHO --- */
    width: 100%;
}

.botaoDoMenuPrincipal{
    background: none;
    background-image: none;
    border: none;
    border-radius: none;
    width: 100%;
    padding: 10px;
    margin: 5px;
    color: white;
    border-left: 6px solid white;
    font-size: 150%;
    text-align: left;
    transition-duration: 0.4s;
}

.botaoDoMenuPrincipal:hover{
    border-left: 6px solid rgba(0, 128, 0, 1);
    background-color: rgba(0, 128, 0, 0.25);
}

/* --- MENU CONFIGURAÇÕES --- */
.tituloConfiguracoes {
    position: fixed;
    top: 0vh;
    font-size: 10vw;
}

.grupoBotoesConfiguracoes{

    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 25vh;

    /* --- TAMANHO --- */
    width: 100%;
}

.botaoConfiguracoes {

}

#voltarAoMenuPrincipal {
    position: fixed;

    top: 80vh;
    left: 80vw;

    background: none;
    background-image: none;
    border: none;
    border-radius: none;

    padding: 10px;
    margin: 0px;
    color: white;
    border-right: 6px solid white;
    font-size: 150%;
    text-align: right;
    transition-duration: 0.4s;
}

#voltarAoMenuPrincipal:hover {
    border-right: 6px solid rgba(0, 128, 0, 1);
    background-color: rgba(0, 128, 0, 0.25);
    width: 100%;
}

/* --- JOGO --- */

.comando {
    text-align: justify;
    letter-spacing: 0px;
    overflow: auto;

    /* --- MARGIN --- */
    padding: 1%;

    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 5%;
    left: 1%;

    /* --- TAMANHO --- */
    width: 75%;
    height: 30%;
    font-size: 1.3rem; 
}

.imagem {
    border: 0.1vw solid white;
    border-radius: 25px;

    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 5%;
    right: 1%;

    /* --- TAMANHO --- */
    width: 20%;
    height: 30%;
}

.score {
    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 92%;
    left: 78%;

    /* --- TAMANHO --- */
    width: 20%;
    height: 10%;
    font-size: 150%;

    text-align: center;
}

.grupoBotoesResposta {
    display: grid;
    grid-template-columns:repeat(2, 50%);
    gap: 5%;

    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 40%;
    left: 1%;

    /* --- TAMANHO --- */
    width: 71%;
    max-width: 71%;
    
    height: 50%;

    text-align: center;
}

.botaoResposta{
    background-color: #778899;
    
    display: inline-block;
    text-align: center;
    transition-duration: 0.4s;
    letter-spacing: 0px;

    /* --- FONTE --- */
    font-size: 1.5rem;
    

    /* --- TAMANHO --- */
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    
    height: 90%;
    max-height: 90%;
}

.grupoBotoesAjuda {
    display: grid;
    grid-template-columns:repeat(1, 100%);
    gap: 10%;

    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 40%;
    left: 78%;

    /* --- TAMANHO --- */
    width: 20%;
    height: 47.5%;
    max-height: 47.5%;
}

.botaoAjuda {
    background-image: none;

    border: 1px solid transparent;
    border-color: #343a40;

    color: white;
    text-align: center;
    font-size: 100%;

    height: 100%;
    max-height: 100%;
}

.grupoBotoesControle{
    display: grid;
    grid-template-columns:repeat(2, 50%);
    gap: 5%;
    
    /* --- POSICIONAMENTO --- */
    position: fixed;
    top: 89%;
    left: 1%;
    
    /* --- TAMANHO --- */
    width: 71%;
    max-width: 75%;
}

.botaoControle{
    background-color: #343a40;
    border: 1px solid transparent;
    border-color: #343a40;

    color: white;
    font-size: 1.7vw;
   
    /* --- TAMANHO --- */
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 4rem;

    
}

.modal-imagem {
    position: absolute;
    top: 25%;
    left: 0%;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.confirmacao-alternativa-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 1;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }

.confirmacao-alternativa-popup-container {
    position: relative;
    top: 50%;
    width: 90%;
    max-width: 400px;
    margin: auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}

.confirmacao-alternativa-popup-container p {
    padding: 3em 1em;
    color: #000000;
}

.cd-buttons{
    padding-left: 0;
}

.confirmacao-alternativa-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.confirmacao-alternativa-popup-container .cd-buttons li {
    list-style-type: none;
    float: left;
    width: 50%;
}

.confirmacao-alternativa-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    transition: background-color 0.2s;
}

.confirmacao-alternativa-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
    list-style-type: none;
}

.confirmacao-alternativa-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
    list-style-type: none;
}


