body{
    background-color: rgb(50,50,50);
    color: white;
    padding: 0;
    margin: 0;
}

.hidden{
    display: none;    
}

.janela {
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2px 2px 12px 2px;
}

.botao-grid {
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.janelaAjuda {
    background-color: rgb(50,50,50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

